@{
  Layout = "_Layout";
}

@model SillyFactory.Models.Engineer

<h4>Add new engineer</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName, new { @class = "text", type = "name", required = "required" })
  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName, new { @class = "text", type = "name", required = "required" })

  <input type="submit" value="Add new engineer" class="btn btn-default" />
}
<p>@Html.ActionLink("Show All Engineers", "Index")</p>