@{
  Layout = "_Layout";
}

@model SillyFactory.Models.Engineer;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FirstName) @Html.DisplayFor(model => model.FirstName)</h3>
<h3>@Html.DisplayNameFor(model => model.LastName) @Html.DisplayFor(model => model.LastName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer is not assigned to any machines yet.</p>
}
else
{
  <h4>Engineer assigned machines:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.Description</li>
      @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete" class="btn btn-default"/>
    }
  }
  </ul>
}
@* machines *@
<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
